body {
    background-color: green;
}

.container {
    background-color:blue; 
    border-radius: 10px; 
    padding: 20px; 
    width: 50%; 
    margin: 0 auto; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

